html {
  height: 100%;
  width: 100%;
}

body {
  background: url('images/1920-x-1080-halloween-ijqoqffl4miupz6c.jpg') center/cover no-repeat !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

div.container.top {
  display: flex;
  justify-content: center;
  font-family:"Eater", serif;
  h1 {
    display: inline-block;
    background: linear-gradient(to right, orange, purple);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

div.container.text {

  p {
    color: #fff;
    text-align:center;
  }
}